.hot-spring-florests {
  background: map-get($color, bg_beige);
  padding: rem(60) 0;

  .florests-content {
    display: none;

    .img-content {
      position: relative;
      margin-bottom: 50px;

      .title {
        bottom: -14%;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        min-width: rem(200);
        padding: rem(5) rem(20) rem(10) rem(20);
        background: map-get($color, bg_red);
  
        h3 {
          text-align: center;
          text-transform: uppercase;
          color: map-get($color, bg_white);
          letter-spacing: rem(5);
        }
      }
    }

    .content-description {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
    }

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: .3s;
      animation: tabNav .3s;

      @keyframes tabNav {
        from {
          transform: translate3d(-50px, 0, 0);
          opacity: 0;
        }

        to {
          transform: translate3d(0px, 0, 0);
          opacity: 1;
        }
      }
    }
  }
  @media screen and (max-width: $tablet-portrait-down) {
    .florests-content {
      .img-content {
        max-width: 100%;
        margin: 0;

        img {
          width: 100%;
          object-fit: cover;
        }

        .title {
          margin: -10px 0 rem(20);
          position: relative;
          bottom: 0;
          width: 100%;
          right: 0;
          transform: none;

           h3 {
            font-size: rem(22);
           }
        }
      }
      .content-description {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
