.hot-spring-florests {
  background: map-get($color, bg_beige);
  padding: rem(60) 0;

  .florests-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .img-content {
      position: relative;
      margin-bottom: 50px;

      .title {
        bottom: -14%;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        min-width: rem(200);
        padding: rem(5) rem(20) rem(10) rem(20);
        background: map-get($color, bg_red);
  
        h3 {
          text-align: center;
          text-transform: uppercase;
          color: map-get($color, bg_white);
          letter-spacing: rem(5);
        }
      }
    }

    .content-description {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
    }
  }
}
