.banner-introduction {
  background: map-get($color, bg_black);

  .banner {
    position: relative;
    overflow: hidden;

    .banner-image {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      opacity: 0;
      transition: .5s;
      margin-top: rem(67);

      img {
        width: 100%;
        object-fit: contain;
      }

      &.active {
        position: relative;
        opacity: 1;
      }
      
      .title {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
  
        h2 {
          color: map-get($color, bg_white);
          text-align: center;
          text-transform: uppercase;
          letter-spacing: rem(2);
          line-height: 0;
        }
      }
    }
  }
}
